* {
  margin: 0 0 0 0;
  overflow: hidden;
}

.background {
  object-fit:fill;
}
.typing-area {
  width: 100%;
  height: 80%; 
  display: flex;
  flex-direction: row;
  align-items: flex-end;           
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;  /* for demo purpose  */
  background-color: blueviolet;
  z-index: 1000;
  transform: translateY(40vh);
}
.icons {
  z-index: 9;
  background-color:lawngreen;
  margin: 20px; /* for demo purpose  */
}

.audio {
  display: none;
  z-index: -101
}

.inactive-image {
  display: none;
  z-index: -100;
}
