body {
  margin: 0 0 0 0;
  background-image: url(1.jpg);
  background-origin: initial;
  background-position: left center;
  background-size: 115% 115%;
  transition: 5000ms;
  /* background-origin: var(event.x); */
  /* overflow: hidden; */
}

.container {
  display: grid;
  grid-template-rows: 80vh 10vh 10vh;
  z-index:1;
}

.textrender {
  /* background-color: blueviolet; */
  display: flex;
  align-items: flex-end right;
  flex-grow: 2;
  flex-direction:column-reverse;
  font-family: monospace;
  overflow-y: scroll;
  z-index:100;
}

.textrender-element {
  padding-top: 5vh;
  margin: 10vh 10vw 5vh 10vw;
  max-width: 80%;
  word-break: break-all;
  flex-grow: 1;
  overflow: auto;
  /* min-height: 0; */
}


.inputarea {
  cursor:default;
  text-align: center;
  opacity: 0;
  z-index: 100;
}

.icons  {
  height: 20vh;
  width: 100vw;
  margin-top: 80vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* background-color: red; */
  opacity: 0;
}

.icons:hover {
  opacity: 1;
  
  
} 

.mouse-movement{
  opacity: 1;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.426));
}

img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  cursor: pointer;
  opacity: 1;

}

img:hover {
  width: 3.5rem;
  height: 3.5rem;
  opacity: 1;
  transition: 500ms;

}

.clicked {
  opacity: 0;
  /* width: 3rem;
  height: 3rem; */
}

.image-style-1  {
  filter: invert(100%) sepia(3%) saturate(224%) hue-rotate(187deg) brightness(116%) contrast(92%);
  opacity: 1;
}

.image-style-2 {
  filter: invert(95%) sepia(12%) saturate(218%) hue-rotate(200deg) brightness(93%) contrast(87%);
  opacity: 1;
}

.image-style-3 {
  filter: invert(35%) sepia(36%) saturate(3327%) hue-rotate(343deg) brightness(92%) contrast(98%);
  opacity: 1
}

.image-style-4 {
  filter: invert(62%) sepia(26%) saturate(912%) hue-rotate(328deg) brightness(98%) contrast(90%);
  opacity: 1;
}

.image-style-5 {
  filter: invert(88%) sepia(8%) saturate(506%) hue-rotate(94deg) brightness(91%) contrast(88%);
  opacity: 1;
}

.image-style-white {
  filter: brightness(100%);
  opacity: 0
}

span {
  text-decoration: line-through;

}

.text-span-1 {
  text-decoration: none;
  background-color: rgba(240, 245, 245, 0.333);
  color: rgb(35, 32, 30);
  transition: 1500ms;

}

.text-span-2 {
  text-decoration: none;
  background-color: rgba(217, 216, 223, 0.5);
  mix-blend-mode: color-burn;
  color: rgb(41, 21, 13);
  transition: 1500ms;

}

.text-span-3 {
  text-decoration: none;
  color: rgb(232 66 40);
  background-color: rgba(29, 28, 22, 0.726);
  transition: 1500ms;

}

.text-span-4 {
  text-decoration: none;
  color: rgb(238, 139, 106);
  background-color: rgba(16, 7, 7, 0.627);
  transition: 1500ms;
}

.text-span-5 {
  text-decoration: none;
  color: rgb(177, 206, 190);
  background-color: rgba(13, 19, 11, 0.754);
  transition: 1500ms;
}

.audio {
  display: none;
  z-index: -101
}

.inactive-image {
  display: none;
  z-index: -100;
}
